form{
    max-width: 1000px;
    margin:auto;
}
input{
    width: 70%;
    height: 3em;
}

textarea{
    width: 70%;
    height: 15em;
    resize: none;
}
#MC{
    height:25em;
}
label{
    float: left;
    width: 12%;
}
form > div{
    margin: 2em;
}
#submit{
    width: 20%;
    border-radius: 20em;
    background-color: #09d3ac;
    height: 2em;
    font-size: inherit;
    transition: ease-in-out 0.3s;
}
#submit:hover{
    background-color: #09d3ac4d;
}

.blogCreation_Content{
    margin-bottom: 2em;
    text-align: center;
}
