.contentInput {
    width: 50vw;
}

.postContext {
    width: 100vw;
    height: 100vh;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postCreateContainer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contentInputContainer {
    margin-bottom: 30px;
    text-decoration: none;
    color: #3c4858;
}

.postCreateTitle {
    margin-bottom: 20px;
    font-family: Roboto Slab,Times New Roman,serif;
    font-size: 24px;
    text-decoration: none;
    color: #3c4858;
}