.SPContainer{
    height:100vh;
    padding-top: 15%;
    text-align: center;
}
.SPButtonContainer{
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: center;
    height: 300px;
}
.SPButtonContainer:hover{
    cursor: pointer;
}

.SPButtonContainer > button{
    border-radius: 2em;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.11);
    transition: 0.4s;
    margin:1em;
    font-size: 20px;
    outline: none;
    cursor: pointer;

}
.SPButtonContainer > button:hover{
    box-shadow: 0 2px 20px rgb(9, 211, 172);
    background-color: rgb(9, 211, 172);
    ;
}

.SPButtonContainer > button > a{
    text-decoration: none;
    color: black;
}
